* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html::-webkit-scrollbar {
    width: 6px;
}

/*  */
h1 {
    line-height: 120%;
}
h2 {
    line-height: 150%;
}
h3 {
    width: fit-content;
    padding-right: 50px;
    padding-bottom: 5px;
}
h4 {
    line-height: 150%;
}
a {
    line-height: 150%;
}

/*  */

.main-navbar {
    height: 100px;
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--padding);
    position: fixed;
    right: 0;
    margin-left: auto;
    top: 0;
    z-index: 10;
}

#logo {
    height: 52px;
}

.main-navbar>.navs {
    display: flex;
    flex-flow: row nowrap;
}
.main-navbar>.navs.mobile {
    display: none;
    position: relative;
}
.main-navbar>.navs.mobile>ul {
    display: none;
    position: absolute;
    list-style: none;
}
.main-navbar>.navs.mobile:hover>ul {
    display: block;
}
.main-navbar>.navs.mobile>ul>li {
    margin-bottom: 10px;
}

.main-navbar>.navs>* {
    margin: 10px;
}

.main-header {
    height: 700px;
    width: 100%;
    position: relative;
    padding: 200px var(--padding) 50px;
}

.pg-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.main-header>.content {
    max-width: 1000px;
    margin: 0 auto;
}

.main-header>.content>* {
    max-width: 370px;
}

.main-header h1 {
    margin-bottom: 24px;
}

.about-us {
    display: flex;
    flex-flow: row wrap;
    padding: 50px var(--padding);
    margin-bottom: 120px;
}
.about-us>.container {
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
}
.about-us .content {
    /* max-width: 700px; */
}
.about-us h5 {
    max-width: 400px;
    margin-top: 100px;
}
.about-us p {
    max-width: 470px;
    margin-top: 100px;
    margin-left: 100px;
}

.what-we-do {
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 200px;
    padding: 0 var(--padding);
}
.what-we-do>.content {
    margin-top: 200px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.what-we-do .item {
    flex: 0 1 350px;
    margin-right: 20px;
    margin-bottom: 50px;
}
.what-we-do .item>img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    object-position: center center;
}
.what-we-do .item>h2 {
    max-width: 270px;
    margin: 30px 0;
}

.people {
    padding: 100px var(--padding);
}
.people>.container {
    max-width: 1200px;
    margin: 0 auto;
}
.people .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 65px;
}
.people .content>.item {
    flex: 0 1 250px;
    margin-right: 20px;
    margin-bottom: 50px;
}
.people .content>.item>img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    object-position: center top;
    margin-bottom: 32px;
}

.people .content>.item>p {
    margin-top: 32px;
}

.main-footer {
    padding: 100px var(--padding);
}
.main-footer>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.main-footer>.container>* {
    flex: 0 1 300px;
    margin-bottom: 50px;
}
.main-footer .heading {
    margin-bottom: 20px;
}

@media (max-width: 1300px) {
    .main-navbar {
        width: calc(100vw - var(--padding));
    }
    .about-us p {
        margin-left: 50px;
        max-width: 400px;
    }
}

@media (max-width: 1030px) {
    .what-we-do>.content {
        justify-content: space-evenly;
    }
    .people .content {
        justify-content: flex-start;
    }
}

@media (max-width: 770px) {
    .what-we-do>.content {
        justify-content: flex-start;
    }
    .what-we-do .item {
        flex-basis: 450px;
    }
}

@media (max-width: 600px) {
    #logo {
        height: 30px;
    }
    .main-navbar {
        width: 100%;
    }
    .what-we-do>.content {
        justify-content: flex-start;
    }
    .people .content>.item {
        flex-basis: 350px;
    }
    .main-navbar>.navs {
        display: none;
    }
    .main-navbar>.navs.mobile {
        display: block;
    } 
}
@media (max-width: 450px) {
    .about-us p {
        margin-left: 0;
    }
    .main-header>.content>* {
        max-width: 250px;
    }
    .main-footer>.container>* {
        flex-basis: 250px;
    }
}