{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="rgb(20,79,101)" />

    <meta
      name="Description"
      content="Budgit, people data action, research and policy, arts, tech, oluseun onigbinde, lawal bakare, nada zohdy, iyanuoluwa bolarinwa, OpenGov DC, 1100 13th St NW Suite 800, Washington, DC 20005, info@budgit.us, +1 240-784-36"
    />

    <meta name="Keyword" content="Budgit, people data action, research and policy, arts for civic change, interactive tech, oluseun onigbinde, lawal bakare, nada zohdy, iyanuoluwa bolarinwa" />

    <meta name="Author" content="oluseun onigbinde, lawal bakare, nada zohdy, iyanuoluwa bolarinwa" />

    <link rel="stylesheet" href="{% static 'frontend/css/base.css'%}">
    <link rel="manifest" href="{% static 'frontend/manifest.json'%}" />
    <link rel="shortcut icon" href="{% static 'frontend/images/ico.png'%}" type="image/x-icon">

    <title>Budgit</title>
    
</head>
<body>
    <div id="splash-screen">
        <img src="{% static 'frontend/images/logo.svg' %}" alt="loading" />
    </div>

    {% block content %}
    {% endblock content %}

    <script src="{% static 'frontend/js/base.js'%}"></script>
</body>
</html>