{% extends "frontend/base.html" %}
{% load static %}

{% block content %}
 <main class="home">
     <nav class="main-navbar">
             <img id="logo" src="{% static 'frontend/images/logo.svg' %}" alt="logo" />
             <ul class="navs">
                 <li class="link">SL</li>
                 <li class="link">NG</li>
                 <li class="link">LR</li>
                 <li class="link">GH</li>
                 <li class="link">SN</li>
                 <li class="link selected">US</li>
             </ul>
             <ul class="mobile navs">
                <li class="link selected">US</li>
                 <ul>
                    <li class="link">SL</li>
                    <li class="link">NG</li>
                    <li class="link">LR</li>
                    <li class="link">GH</li>
                    <li class="link">SN</li>
                 </ul>
            </ul>
    </nav>
     <header class="main-header">
        <img src="{% static 'frontend/images/pg-bg.png' %}" class="pg-bg" alt="" />
        <div class="content">
            <h1>PEOPLE DATA ACTION</h1>
            <h4>We are a leading research and civic tech organization focused on co-creating solutions with local communities on public resource efficiency, equity and inclusion.</h4>
        </div>
     </header>
     <article class="about-us">
        <section class="container">
        <div class="content">
            <h3 class="line">ABOUT US</h3>
            <h5>BudgIT is a civic organization that applies technology to intersect citizen engagement with institutional improvement to facilitate societal change. </h5>
            <p>A pioneer in the field of advocacy melded with technology, BudgIT uses an array of tech tools to simplify public budgets and matters of public spending for citizens, with the primary aim of raising the standard of transparency and accountability in government.
                <br><br>
                With a focus on three core programme areas (research and policy, arts for civic change and interactive technology), BudgIT’s methodology is deploying refined data mining skill sets to creatively represent data in a way that empowers citizens to use the resulting information in demanding an equitable and inclusive society.  BudgIT was co-founded by Oluseun Onigbinde and Joseph Agunbiade in 2011 and emerged from the Tech-in-Governance hackathon organized by Co-Creation Hub.
                <br><br>
                BudgIT has offices  in Nigeria, Sierra Leone, Liberia, Ghana, Senegal and the United States. 
            </p>
        </div>
     </article>
     <article class="what-we-do">
         <h3>WHAT WE DO</h3>
         <section class="content">
             <div class="item">
                 <img src="{% static 'frontend/images/research.svg' %}" alt="icon" />
                 <h2>Research & Policy</h2>
                 <p>Our work is to build a resource hub that provides insight into fiscal management at various levels of government. We are exploring active listening techniques, robust use of data and institutional engagement to incentivize civic action for resource efficiency. We are paying attention to marginalized, excluded and vulnerable groups that require expanded support from their government.</p>
             </div>

             <div class="item">
                <img src="{% static 'frontend/images/art.svg' %}" alt="icon" />
                <h2>Arts for Civic Change </h2>
                <p>We believe that we can work together with creators, designers, artists and community leaders to rethink how public resources are managed from an artistic perspective. We are prioritizing investments in ideas that intersect fiscal governance with arts under a framework of community engagement. We will strategically engage with leaders immersed in community spaces on fiscal governance.</p>
            </div>

            <div class="item">
                <img src="{% static 'frontend/images/tech.svg' %}" alt="icon" />
                <h2>Interactive Tech</h2>
                <p>We apply the use of immersive and intuitive technologies for data visualization. Over the years, we have stimulated discussions around fiscal governance while addressing contextual issues hampering inclusive development in our focus communities. Our firm belief in empowering new leaders requires access to data in simple, transparent and stimulating ways.</p>
            </div>
         </section>
     </article>

     <article class="people">
         <section class="container">
            <h3 class="no-line u">people</h3>
            <section class="content">
                <div class="item">
                    <img src="{% static 'frontend/images/pic1.png' %}" alt="icon" />
                    <h3 class="no-line c">Oluseun Onigbinde</h3>
                    <p class="b">Lead Director</p>
                    <p>Oluseun Onigbinde is the co-founder and Director of BudgIT, a global civic organization. He is a recipient of the Ashoka Fellowship, Future Africa Awards, Quartz Africa 30 Innovators Award, Aspen New Voices Fellowship, Melvin Jones Fellowship and Stanford Draper Hill Summer Fellowship. Oluseun Onigbinde completed an Obama Foundation Scholar at Columbia University.</p>
                </div>

                <div class="item">
                    <img src="{% static 'frontend/images/pic2.png' %}" alt="icon" />
                    <h3 class="no-line c">Dr. Lawal Bakare</h3>
                    <p class="b">Creative Director </p>
                    <p>Lawal is a creative design specialist with backgrounds in dentistry and global health. He has vast experience in the adaptation of Human Centre Design and Creative Technology for development. He is a graduate of Miami Ad School Europe. He is a recipient of global creative awards like the D&AD, ADC Germany, Creativity International Award and the Golden Award of Montreaux.</p>
                </div>

                <div class="item">
                    <img src="{% static 'frontend/images/pic3.png' %}" alt="icon" />
                    <h3 class="no-line c">Nada Zohdy</h3>
                    <p class="b">Advisor</p>
                    <p>Nada oversees all operations and programs at Open Gov Hub, a growing social enterprise that houses leading civic organizations in the US. Nada received a Master’s of Public Policy from the Harvard Kennedy School of Government, where she was a Pforzheimer Nonprofit Fellow and focused on linking democracy/governance with social entrepreneurship/innovation.</p>
                </div>

                <div class="item">
                    <img src="{% static 'frontend/images/pic4.png' %}" alt="icon" />
                    <h3 class="no-line c">Iyanuoluwa Bolarinwa</h3>
                    <p class="b">Program Lead</p>
                    <p>Iyanuoluwa has over 5 years of experience in project management in the non-profit sector. He is a fellow of the Tony Elumelu Foundation, African Changemakers and Pandemic Action. He has also worked on projects funded by the Ford Foundation, Bill & Melinda Gates Foundation, Open Society Foundations and the US State Department.</p>
                </div>
            </section>
         </section>
     </article>

     <footer class="main-footer">
         <section class="container">
             <div>
                 <h6 class="heading">CONTACT</h6>
                 <a href="http://" target="_blank" rel="noopener noreferrer">
                    <h6>OpenGov DC,</h6>  
                    1100 13th St NW Suite 800, 
                    Washington, DC 20005
                    <br><br>
                 </a>
                 <a href="tel:+">+1 240-784-3645</a>
                 <br>
                 <a href="mailto:">info@budgit.us</a>
             </div>
             <div>
                 <p>(C) BudgIT USA, 2022. All rights reserved </p>
             </div>
         </section>
     </footer>
 </main>
{% endblock content %}