{% extends "frontend/base.html" %}
{% load static %}
{% load extras %}

{% block content %}
<main class="home">
    <img class="ln" src="{% static 'frontend/images/ln.png' %}" alt="" />
    <nav class="main-navbar">
        <img id="logo" src="{% static 'frontend/images/logo.svg' %}" alt="logo" />
        <ul class="navs">
            {% for language in languages %}
            {% if language.0 == lang %}
            <li class="link selected"><a href="{% url 'frontend:home' language.0 %}">{{ language.1 }}</a></li>
            {% else %}
            <li class="link"><a href="{% url 'frontend:home' language.0 %}">{{ language.1 }}</a></li>
            {% endif %}

            {% endfor %}

        </ul>
        <ul class="mobile navs">
            {% for language in languages %}
            {% if language.0 == lang %}
            <li class="link selected"><a>{{ language.1 }}</a></li>
            {% endif %}
            {% endfor %}
            <ul>
                {% for language in languages %}
                {% if language.0 != lang %}
                <li class="link"><a href="{% url 'frontend:home' language.0 %}">{{ language.1 }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </ul>
    </nav>
    <header class="main-header">
        <img src="{% static 'frontend/images/pg-bg.png' %}" class="pg-bg" alt="" />
        <div class="content">
            {% if intro %}
            <h1>{% translate text=intro.title %}</h1>
            <h4>{% translate text=intro.content %}</h4>
            {% endif %}
        </div>
    </header>
    <article class="about-us">
        <section class="container">
            <div class="content">
                <h3 class="line">{% translate text="about us" %}</h3>
                {% if about %}
                <h5>{% translate text=about.heading %}</h5>
                <p>{% translate text=about.content %}</p>
                {% endif %}
            </div>
    </article>
    <article class="what-we-do">
        <h3>{% translate text="what we do" %}</h3>
        <section class="content">
            {% if what_we_do %}
            {% for obj in what_we_do %}
            <div class="item">
                <img src="{{ obj.get_image }}" alt="icon" />
                <h2>{% translate text=obj.title %}</h2>
                <p>{% translate text=obj.content %}</p>
            </div>
            {% endfor %}
            {% endif %}
        </section>
    </article>

    <article class="people">
        <section class="container">
            <h3 class="no-line u">{% translate text="people" %}</h3>
            <section class="content">
                {% if people %}
                {% for obj in people %}
                <div class="item">
                    <img src="{{ obj.get_image }}" alt="icon" />
                    <h3 class="no-line c">{{ obj.name }}</h3>
                    <p class="b">{% translate text=obj.role %}</p>
                    <p>{% translate text=obj.content %}</p>
                </div>
                {% endfor %}
                {% endif %}


            </section>
        </section>
    </article>

    <footer class="main-footer">
        <section class="container">
            <div>
                <h6 class="heading">{% translate text="contact" %}</h6>
                {% if contact %}
                <a href="{{ contact.address_link }}" target="_blank" rel="noopener noreferrer">
                    {{contact.address }}
                </a>
                <br><br>
                <a href="tel:{{ contact.number }}">{% translate text=contact.number %}<a>
                        <br>
                        <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                        {% endif %}
            </div>
            <div>
                <p>{% translate text="(C) BudgIT USA, 2022. All rights reserved" %}</p>
            </div>
        </section>
    </footer>
</main>
{% endblock content %}